* {
	margin: 0;
	padding: 0;
}
.navigation {
	font-family: var(--font1);
	height: 74px;
	/* background-color: red; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px !important;
}
.nav-left {
	display: flex;
}
.nav-left span {
	font-size: 35px;
	padding-top: 2px;
}
.nav-left ul {
	display: flex;
	align-items: center;
	margin: 0 77px;
	font-size: 22px;
	/* padding-bottom: 23px; */
}
.nav-left ul li {
	list-style: none;
	margin: 0 14px;
	font-family: var(--font2);
	transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
	text-decoration: none;
	color: black;
}
.nav-left ul li a:hover {
	color: var(--main-bg-color);
	font-weight: bolder;
}

/* .nav-right {
} */
.content {
	height: 100%;
	/* background-color: rgb(86, 173, 245); */
	display: flex;
	margin-top: 32px !important;
	padding: 9px;
	position: relative;
	/* z-index: 1; */
}
.content::after {
	content: "";
	background-image: url('../img/1st-tab.jpg');
	position: absolute;
	/* background-repeat: no-repeat; */
	width: 100%;
	height: inherit;
	opacity: 0.15;
	z-index: -1;
}
.content-left {
	font-family: var(--font1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
}
.content-left h1 {
	align-self: flex-start;
}
.content-right {
	display: flex;
	align-items: center;
	justify-content: center;
}
.content-right img {
	height: 355px;
	border: 2px solid black;
	border-radius: 200px;
}
.home-articles {
	padding: 18px;
	/* background-color: rgb(252, 217, 217); */
	margin-top: 23px;
	/* padding-top: 12px; */
	position: relative;
}
.year-box {
	position: absolute;
	right: 0px;
	top: 100px;
	width: 234px;
	height: 255px;
}
.year-box div {
	margin: 12px 0;
}
.home-article {
	display: flex;
	margin: 25px;
}
.home-article img {
	width: 300px;
}
.home-article-content {
	align-self: center;
	padding: 0px 25px;
}
.home-article-content a {
	text-decoration: none;
	color: black;
}
/* .home-articles{} */

.footer {
	height: 50px;
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	position: relative;
}
.footer a {
	color: white;
	text-decoration: none;
}
